<main class="main">
  <nav>
    <div class="logo">Logo</div>
    <ul>
      <li>Home</li>
      <li>Contact Us</li>
      <li>About Us</li>
      <li>Let's Talk 👋🏾</li>
    </ul>
  </nav>
  
  <div class="content">

    <section>
      <div>
        <h2>We are creating wealth for our <span class="alt-text">society</span></h2>
      </div>
      <div></div>
    </section>

    <section>
      <h2>Are you looking for a quick loan? Get your loan in <span>24 hours ⏳</span></h2>
      <div>
        <div></div>
        <div></div>
      </div>
    </section>

    <section class="why-us">
      <div></div>
      <div>
        <h2>Easy Financial services <span>wherever you go</span></h2>
        <p>
          Whether you’re at home, at the office, or on the go, you can apply for your loan from anywhere. 
          We will be available to help you every step of the way.
        </p>
      </div>
    </section>

    <section class="achievements">
      <div>
        <h5>40+</h5>
        <p>staff in different regions</p>
      </div>
      <div>
        <h5>40M+</h5>
        <p>total amount loan disbursed</p>
      </div>
      <div>
        <h5>360+</h5>
        <p>Approved & disbursed loan applications</p>
      </div>
    </section>

    <section class="why-revent">
      <div>
        <div>Why Revent</div>
        <h2>We are a micro-finance body that <span>cares</span></h2>
        <p>
          We support micro businesses and enterprises within the fast-moving consumer goods (FMCG) 
          sector with a view to reduce hunger and foster a thriving micro economy within our 
          communities amongst men and women.
        </p>
      </div>
      <div>

      </div>
    </section>

    <section class="loans">
      <div></div>
      <div>
        <div>What we offer</div>
        <h2>Have access to loans anytime anywhere</h2>
        <p>
          We also provide working capital support the micro businesses within the FMCG value chain 
          to meet daily operational needs & partner with you to grow your business by providing 
          the right type of funding.
        </p>
      </div>
    </section>

    <section>
      <div>
        <div>What we offer</div>
        <h2>Financial Advisory, consultation and Lending services</h2>
        <p>
          We provide business advisory that is backed with funding to increase turnover and in 
          turn profits while alleviating poverty especially among-st women and communities that 
          are under banked or unbanked. 
        </p>
        <div>
          <div>MMoney Lending</div>
          <div>Micro-finance</div>
          <div>Advisory</div>
        </div>
      </div>
      <div>

      </div>
    </section>

    <section class="stories">
      <div></div>
      <div>
        images
        images
        images
        images
      </div>
    </section>

    <section class="news">
      <h2>Latest news</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Commodo sodales elit quam nisl, amet. 
      </p>
      <div></div>
    </section>

    <section class="newsletter">
      <h2>Subscribe to our <span>Newsletter</span></h2>
      <form action="">
        <input type="email" name="email" id="email" placeholder="Enter your email address">
        <button>Subscribe 📩</button>
      </form>
    </section>

    <section>
      <h2>We are here to help you navigate the poor financial service provision in Africa</h2>
      <button>
        Lets Talk 👋🏾
      </button>
    </section>


  </div>

  <footer>
    <div style="display: flex; justify-content: space-between;">
      <div class="logo">LOGO</div>
      <div>
        <ul>
          <li>Contact Us</li>
        </ul>
      </div>
      <div class="social-links">
        <div>icon</div>
        <div>icon</div>
      </div>
    </div>
    <hr />
    <div class="rev-copy">Copyright reventtechnologies. All rights reserved</div>

  </footer>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
